* 
{
     box-sizing:border-box;
}

h2 { 
    text-align: center;
}

.form {
    width:400px;
    padding:20px;
    margin: auto;
  }

input  {
    padding: 10px; 
    margin : 10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
    border-radius:10px;
    border : 0;
    width:100%;
}

textarea  {
    padding: 10px; 
    margin : 10px 0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
    border : 0;
    width:100%;
}

button{
    padding: 10px; 
    margin : 10px 0;
    border-radius:10px;
    border : 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
    width:100%;
}

button:hover {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.5);
}